---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
	<article class="max-w-3xl mx-auto py-8">
		<div class="mb-8 text-center">
			<div class="mb-4 text-gray-500">
				<FormattedDate date={post.data.pubDate} />
				{
					post.data.updatedDate && (
						<div class="italic text-sm mt-1">
							Last updated on <FormattedDate date={post.data.updatedDate} />
						</div>
					)
				}
			</div>
			<h1 class="text-4xl font-bold mb-6 leading-tight">{post.data.title}</h1>
            
            {post.data.heroImage && (
                <div class="rounded-xl overflow-hidden shadow-lg mb-8">
                    <Image 
                        width={1020} 
                        height={510} 
                        src={post.data.heroImage} 
                        alt="" 
                        class="w-full h-auto"
                    />
                </div>
            )}
			<hr class="border-gray-200" />
		</div>
		<div class="prose prose-lg mx-auto prose-img:rounded-xl prose-a:text-teal-700 hover:prose-a:text-teal-900">
			<Content />
		</div>
	</article>
</Layout>
